*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: genshinFont;
    src: url(zh-cn.ttf);
}


/* register-container */
.contents {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-image: url("https://github.com/fredysunjaya/Jenshin-Impekz/blob/main/assets/genshin-impact.jpg?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* justify-content: center; */
    color: rgba(74, 92, 126, 1);
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1% 5% 1% 2%;
}

.register-container h1 {
    font-size: 2em;
}

.register-container p {
    font-size: 1em;
}

@media screen and (max-width: 769px) {
    .register-container {
        justify-content: center;
        align-items: center;
        padding: 1%;
    }

    .register-container h1 {
        font-size: 1.5em;
    }
    
    .register-container p {
        font-size: 0.7em;
    }

    .register-container a {
        font-size: 0.7em;
    }
}

/* register-form */
.register-form {
    width: calc(10vw + 220px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    padding: 1.5%;
    gap: 1.5vh;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: space-between;
}

.register-form a {
    color: rgba(74, 92, 126, 1);
}

.form-input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1vh;
}

.form-input input {
    border: 0px;
    width: 80%;
    border-radius: calc(0.3vw + 5px);
    padding: 5% 2%;
}

.form-input-wrong {
    border: 1px solid red;
}

.form-input-wrong::placeholder {
    font-size: 0.7em;
    color: red;
}

.agreement {
    width: 87%;
    display: flex;
    flex-direction: column;
}

.agreement .validation {
    color: red;
    font-size: 0.8em;
    display: none;
}

.agreement .validation-show {
    display: block;
}

.agreement p {
    font-size: 0.67em;
}

.agreement .checkbox {
    display: flex;
    justify-content: space-between;
}

.social-media {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.social-media img {
    width: 13%; 
}

.register-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: white;
    background-color: rgba(14, 30, 42, 1);
    text-align: center;
    padding: 2.5%;
    border-radius: calc(0.3vw + 5px);
    cursor: pointer;
}

.register-button p {
    font-size: 1.5em;
}

@media screen and (max-width: 769px) {
    .register-form {
        padding: 2.5%;
        gap: 2.5vh;
    }

    .form-input {
        gap: 1.5vh;
    }

    .form-input input {
        width: 85%;
    }

    .agreement {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .register-form {
        width: calc(30vw + 160px);
        gap: 2.5vh;
    }
}