*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: genshinFont;
    src: url(zh-cn.ttf);
}


/* jumbotron */
/* -------------------------------------------------------------------------------- */
.jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: center;
}

#home-images {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-image {
    object-position: 59%;
}

.home-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 300ms opacity ease-out;
    transition-delay: 300ms;
}

.home-image[data-active] {
    opacity: 1;
    z-index: 1;
}

.downloads-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;
    height: 50%;
}

.downloads {
    align-self: center;
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    gap: 5%;
}

.download-links {
    display: flex;
    justify-content: space-evenly;
}

#released {
    font-family: genshinFont;
    font-size: 2.3em;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.download-links img {
    width: 13%;
    opacity: 0.75;
}

.download-links img:hover {
    opacity: 1;
}

#esrbJumbo {
    width: 8%;
}

@media screen and (max-width: 769px) {
    #released {
        font-size: 2em;
    }

    .download-links img {
        width: 20%;
    }

    #esrbJumbo {
        width: 13%;
    }
}

@media screen and (max-width: 576px) {
    #released {
        font-size: 1.5em;
    }

    .download-links img {
        width: 20%;
    }

    #esrbJumbo {
        width: 18%;
    }
}


/* contents */
/* --------------------------------------------------------------------------------- */
.contents {
    display: flex;
    flex-direction: column;
    background-image: url("https://github.com/fredysunjaya/Jenshin-Impekz/blob/main/assets/backgroundHome1.png?raw=true");
    background-size: cover;
    align-items: center;
    position: relative;
    gap: 30vh;
}

#gradient-image {
    width: 100%;
    height: auto;
}

.contents > * {
    z-index: 10;
}
    
.contents::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
}

/* new character */
/* --------------------------------------------------------------------------------- */
#new-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23vh;
    width: 100%;
}

.frame-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

#new-character .frame-home {
    margin-bottom: -10vh;
}

#new-character .frame-home img {
    width: 75%;
}

.text-home {
    position: absolute;
    color: white;
    text-shadow: 1px 2px 4px rgba(69, 195, 213, 0.7);
    font-family: genshinFont;
    font-size: 1.5em;
}

.character-section {
    width: 75%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.char-back  {
    left: 45%;
    width: 50%;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
}

.character-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
}

.char-frame {
    width: 47.5%;
}

.character-description {
    display: flex;
    flex-direction: column;
    width: 47.5%;
}

.char-name {
    width: 50%;
    margin-bottom: 3vh;
}

.char-story {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: calc(3% + 8px);
}

.char-story p {
    color: white;
    font-size: 1.5em;
    font-family: genshinFont;
}

.play-button {
    align-self: flex-end;
    width: 25%;
    margin: 5% 0;
}

.play-button img {
    width: 100%;
    height: 100%;
}

#char-back-rev {
    left: 8%;
}

#char-details-rev {
    flex-direction: row-reverse;
}


/* new weapon */
/* --------------------------------------------------------------------------------- */
#new-weapon {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

#new-weapon .frame-home img {
    width: 100%;
}

#weapon-news {
    display: flex;
    justify-content: center;
}

#weapon-news img {
    width: 100%;
}

/* other events */
/* --------------------------------------------------------------------------------- */
#other-events {
    width: 65%;
    height: calc(85vh + 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

#other-events .frame-home img {
    width: 115.5%;
}

#event-images {
    width: 100%;
    height: 100%;
    position: relative;
}

.event-image {
    object-fit: cover;
    width: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 300ms opacity ease-out;
    transition-delay: 300ms;
}

.event-image[data-active2] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

/* follow-us */
/* --------------------------------------------------------------------------------- */
#follow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 0 15vh 0;
}

#follow p {
    position: static;
    margin-right: 6%;
}

#follow-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

#follow-links img {
    width: 90%;
}

@media screen and (max-width: 769px) {
    .contents {
        gap: 15vh;
    }

    .text-home {
        font-size: 1.2em;
    }

    #new-character .frame-home img {
        width: 100%;
    }

    #new-character {
        gap: 15vh;
    }

    .char-story p {
        font-size: 0.9em;
    }

    #new-weapon .frame-home img {
        width: 133.5%;
    }

    #other-events {
        height: calc(35vh + 50px);
    }

    #other-events .frame-home img {
        width: 154%;
    }

    #follow {
        margin: 10vh 0 10vh 0;
    }
}

@media screen and (max-width: 576px) {
    .contents {
        gap: 8vh;
    }

    .character-section {
        width: 85%;
    }

    .character-section.first {
        margin-top: 5vh;
    }

    #new-character {
        margin-top: -5vh;
        gap: 6vh;
    }

    .text-home {
        font-size: 0.75em;
    }

    #new-character .frame-home img {
        width: 110%;
    }

    .char-story p {
        font-size: 0.55em;
    }

    #new-weapon {
        width: 90%;
    }

    #new-weapon .frame-home img {
        width: 122%;
    }

    #other-events {
        width: 80%;
        height: calc(18vh + 35px);
    }

    #other-events .frame-home img {
        width: 138%;
    }

    #follow {
        margin: 5vh 0 5vh 0;
    }

}